body {
    background-color: linen;
}

#app {
    margin-left: 30px;
}

h1 {
  color: darkred;
}

nav#bar {
    margin-left: 0px !important
    background-color: linen;
    color: darkred;
}

nav.navbar.navbar-default {
    background-color: linen;
    border-color: darkred;
}

navbar-nav a {
    color: red;
}

.container {
    width: 100%;
    margin-left: 0px !important;
}

#seal {
    width: 8%;
    /* height: 10%; */
    display: block;
    /* float: right;
    margin-right: 3%; */
    position: fixed;
    right: 3%;
    top: 8%;
}
