{% extends "base.html" %}

{% block app_content %}
<h1>Set Deadline and Reminders</h1>
<p>Date and times are set in UTC</p>
<p>Current time (UTC): {{ time.strftime('%m-%d-%Y %H:%M:%S') }}</p>
<form action="" method="post" enctype="multipart/form-data" novalidate>
  {{ form.hidden_tag() }}
  {# NOTE: type="datetime-local" is not recognized by Safari on MAC OSX, but is recognized by Safari on iOS :/ #}
  <p>
    {{ form.deadline.label }}<br>
    {{ form.deadline(value=defaults[0]) }}<br>
    {% for error in form.deadline.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
  </p>
  <p>
    {{ form.reminder1.label }}<br>
    {{ form.reminder1(value=defaults[1]) }}<br>
    {% for error in form.reminder1.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
  </p>
  <p>
    {{ form.reminder2.label }}<br>
    {{ form.reminder2(value=defaults[2]) }}<br>
    {% for error in form.reminder2.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
  </p>
  <p>
    {{ form.reminder3.label }}<br>
    {{ form.reminder3(value=defaults[3]) }}<br>
    {% for error in form.reminder3.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
  </p>
  <p>Any reminders set before the current time or after the deadline will be ignored.</p>
  <p>
    {{ form.submit() }}
  </p>
</form>
{% endblock %}
