{% extends "base.html" %}

{% block app_content %}
<h1>Welcome to SET++</h1>

<h2>Instructions:</h2>
<h3>
    <ol type = "1">
        <li>View the <a href="{{ url_for('main.survey') }}">SET survey</a> that will be sent out to students</li>
        <li><a href="{{ url_for('main.upload') }}">Upload</a> a roster</li>
        <li><a href="{{ url_for('main.setDates') }}">Deadline & Reminders</a>: set a deadline for the survey and time(s) for the reminder email(s)</li>
        <li><a href="{{ url_for('main.emailallstudents') }}">Start</a> a survey session by sending the surveys out to students</li>
    </ol>
</h3>

{% endblock %}
